project_id = "xlhcneenthhhsjqqdmbm"

[functions.notify-waitlist]
verify_jwt = false

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.create-payment]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true
